.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/build.gradle.kts

.kotlin
web/starter
node_modules

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
test_bin/
test-bin/
data/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store



build*
.vscode
.cache
CMakeLists.txt
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
cmake-build-relwithdebinfo-wsl
@build*
.mdbx
.data
.xmake
compile_commands.json
.next
.node_modules
.VSCodeCounter